# IULM Lab Challenge
## Data Manipulation with Python - Basic Concepts
### Author: Andrea Giussani
#### March 2023

In [ ]:
import pandas as pd

## Instruction 1: Import the data
You are asked to import the data as a `pandas.DataFrame`, and store it in the variable `df`. The suggestion here is to use the Python `pandas` library. Be also sure you parse the column `day_date` as a datetime.


**Hint**: You can parse directly the `day_date` column as a datetime inside the `pd.read_csv` method. To do so, you just need to pass `['day_date']` to the parse_dates argument.

In [ ]:
filepath = 'https://raw.githubusercontent.com/' + 'andreagiussani/2023-python-iulm/master/data/CompanyValues.csv'

In [ ]:
# TO BE FILLED BY STUDENTS

Let us inspect the structure of the dataset using the `.head()` method.

In [ ]:
df.head(2)

The dataset contains several financial data on the major Tech Companies, such as Apple, Google or Microsoft. The companies available are the following ones (just run the next cell):

In [ ]:
set(df.ticker_symbol.to_list())

We can inspect the columns' types by applying the `info` method to the `df` object.

In [ ]:
df.info()

Having a datetime is pretty useful, since we can filter the dataset with respect to the `day_date` column, as done in the next cell, for example.

1. We create at first a bool condition indicating that `day_date` is greater than, say, `2020-01-01`;
2. we apply the boolean condition created in the previous step to the dataframe.

In [ ]:
bool_cond = df['day_date'] >= '2020-01-01'
df_filtered =  df[bool_cond]

## Instruction 2: Slice the DataFrame so that only `TSLA` is shown

You are asked to slice out all the rows related to the Tesla stock from the orginal DataFrame `df`.

1. Create a boolean condition `df.ticker_symbol == 'TSLA'`;  
2. Store the new DataFrame object into the variable `tsla_df`.

In [ ]:
# TO BE FILLED BY STUDENTS

In [ ]:
tsla_df.shape

In [ ]:
tsla_df.head(2)

## Instruction 3: Build a Method that computes the mean price

### Instruction 3.1 Create a Python method
You are asked to create a Python method called `compute_daily_mean_price`, which computes the average price between the columns `low_value` and `high_value`. This is done for you in the next cell.This method will be then called while creating the `daily_mean_price_list` in the next instruction.

In [ ]:
def compute_daily_mean_price(row):
  return (row['high_value'] + row['low_value'])/2

#### Instruction 3.2: apply the method rowise
You are asked to create a Python list containing the mean values obtained by applying the method `compute_daily_mean_price` element-wise. Be sure you employ the `iterrows()` method to perform the iteration over rows. Store this new object into the variable `daily_mean_price_list`.

In [ ]:
# TO BE FILLED BY STUDENTS

### Instruction 3.3: create a new column
Finally, create a new column in the dataframe `df`, namely `daily_mean_price`, and assign the `daily_mean_price_list`.

**Hint**. To create the new column `daily_mean_price`, you just need to assign to it the `daily_mean_price_list`.

In [ ]:
# TO BE FILLED BY STUDENTS

Now, let us print the first five rows of the dataFrame `df`:

In [ ]:
tsla_df.head()

## Instruction 4: Join two dataframes into one data source

In the actual DataFrame `df` we have the stock symbol, represented by the column `ticker_symbol`. However, in another file, called `Company.csv`, we have the full company name. 

In this step, you are asked to import the `Company.csv` as a `pandas.DataFrame` object. Store it into the variable `companies_df`. Then, you have to join the two DataFrames into a single DataFrame. Call it `df_full`.

**Hint**. To join two (or more dataframes), you could either use `pd.concat` or `pd.merge`. Which method is the most suitable in this case? Be sure the order is `companies_df` and `df`.

In [ ]:
filepath_companies_csv = 'https://raw.githubusercontent.com/' + 'andreagiussani/2023-python-iulm/master/data/Company.csv'

In [ ]:
# TO BE FILLED BY STUDENT

You can print the `companies_df` out down below here:

In [ ]:
companies_df

Now, let us join the two dataframes - namely `tsla_df` and `companies_df` - into a new object called `df_full`.

**Hint**. You can use the `.merge()` function we have seen in class, joining on the `ticker_symbol` column. The syntax goes as follows: `df1.merge(df2, on='ticker_symbol')`

In [ ]:
# TO BE FILLED BY STUDENT

## Create a List of Tuples

In this step, you are asked to create a List of Tuples, each containing three distinct elements:


1.   The stock symbol.
2.   The trading date.
3.   The closing price.

To make life easier, three distinct lists have been created for you in the next cell. Your task is to create a new list called `to_return` that contains Tuples made of those three elements, in that particular order - namely `(ticker_symbol, day_date, close_value)`.

Hence this step has been done for you 

**Hint**.Try to use a list comprehension here directly. Also, be sure you employ the python `enumerate` method on the `symbol_list` created for you, so that, for example, you can easily access to the corresponding date using the syntax `date_list[idx].strftime('%Y-%m-%d')`. The same logic applies to the `close_value_list`.

In [ ]:
symbol_list = tsla_df.ticker_symbol.to_list()
date_list = tsla_df.day_date.to_list()
close_value_list = tsla_df.close_value.to_list()

In [ ]:
my_new_list = []
for idx, x in enumerate(symbol_list):
  my_new_list.append((x, date_list[idx].strftime('%Y-%m-%d'), close_value_list[idx]))

As a final check, print out the first two elements.

In [ ]:
my_new_list[0:3]

## Instruction 6: Plot the TSLA Series and add a Proper Title

### Instruction 6.1: Plot a standard line plot

You are asked to plot a standard matplolib line plot down below here. The dataframe to use is the `tsla_df`. The necessary import has been done for you.

You are then asked to:
 

1.   create a `subplots` with `figsize` argument equal to `(10,8)`. Be sure you store both the figure and the axes object as `fig` and `ax` , respectively;
2.   apply to the axes the `plot` method. Be sure you plot on the `x-axis` the variable `day_date` and on the y-axis the variable `close_value`

Finally, be sure you call the `plt.show()` method to show the plot.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# TO BE FILLED BY STUDENT

### Instruction 6.2: Adding aesthetics to the plot

You are asked to add a few aesthetics to the plot, such as labels and a title. 
As such, copy and paste the previous code, and then you have to
 

1.   add both x and y labels by applying to the axes object the `set_xlabel('Trading Day')` and `set_ylabel('Close Price')` method, respectively;
2.   add a title by applying to the axes object the `set_title('TSLA Time Series')` method.

In [ ]:
# TO BE FILLED BY STUDENT

### Instruction 7: Data Transformation and Aggregation
#### Instruction 7.1 Data Transformation
The dataset stored in `df_full` is a tidy dataset. We now want to perform aggregating operations with respect to the Close price column, say creating a new `pandas.DataFrame` object containing the Date as index and, as columns, the Stock Name. How would you perform this operation?

The `pandas.pivot` method to the rescue! 

This function requires three arguments:


1.   `index`: the column we wish to have as index of the new dataframe - in this case `day_date`; 
2.   `columns`: the column we wish to have as columns of the new dataframe - in this case `company_name`; 
3.   `values`: the column we wish to have as values of the new dataframe - in this case `close_value`. 



Store the result into the object `pivot_close_df`. At the end, we sort the index using the `sort_index` method so that we are sure the index is correctly set. Also, be sure you apply the `fillna(0)` method after sorting the index.

You are now asked to create the `pivot_table` down below here. Remember to use the `pandas.pivot_table`!

In [ ]:
# TO BE FILLED BY STUDENT

Let us print the last five rows of the `pivot_close_df` object:

In [ ]:
pivot_close_df.head()

#### Instruction 7.2 Data Aggregation - compute the mean price observed

In this step, you are asked to aggregate the `close_value` column of the `full_df` object into the average price observed for all the stocks. be sure you store the resulting dataframe into the variable `mean_close_df`.

**Hint**. Use the groupby method here.

In [ ]:
# TO BE FILLED BY STUDENT

**End**